*{
    font-family: 'PT Serif', serif;;
}
.special-bg{
    background-color: #FFC017;
}
.special-border-bottom{
    border-bottom: 1px solid black;
}
.special-gray-border-bottom{
    border-bottom: 1px solid rgb(204, 201, 201);
}
